<div class="reset-page">
  <img class="logo" src="assets/images/logos/Billan_cabezote@2x.png" />
  <h1 class="title">CAMBIAR CONTRASEÑA</h1>
  <form
    class="reset-form"
    [formGroup]="resetForm"
    (submit)="updatePassword($event)"
    novalidate
  >
    <app-textfield
      label="Nueva Contraseña"
      class="input"
      formControlName="newPassword"
      type="password"
      placeholder="Nueva Contraseña"
      id="newPassword"
    ></app-textfield>

    <app-textfield
      label="Confirmar Contraseña"
      class="input"
      formControlName="passwordRepeat"
      type="password"
      placeholder="Repetir Contraseña"
    ></app-textfield>
    <p
      *ngIf="
        resetForm.controls.passwordRepeat.valid &&
        resetForm.controls.passwordRepeat.value !=
          resetForm.controls.newPassword.value
      "
    >
      <ngb-alert type="danger" [dismissible]="false">
        Las contraseñas <strong>no coinciden</strong>
      </ngb-alert>
    </p>

    <p *ngIf="resetForm.invalid && loginButtonClicked">
      <ngb-alert type="danger" [dismissible]="false">
        Completa <strong>todos</strong> los <strong>campos</strong>
      </ngb-alert>
    </p>

    <app-button
      type="submit"
      [isDisabled]="resetForm.invalid"
      (click)="loginButtonClicked = true"
      text="Cambiar contraseña"
    ></app-button>
  </form>
</div>
