<div
  class="module-bar module-bar--panel-control--ministerio header-directivo-docente"
>
  <h2 class="module-card__header__text__title">Panel Directivo Docente</h2>
  <app-textfield
    class="input"
    type="text"
    pattern="^[a-zA-Z0-9_.-]*$"
    placeholder="Buscar por documento"
    (input)="searchUser($event)"
  ></app-textfield>

  <button class="create-button" (click)="openModal(uploadFileModal)">
    subir archivo
  </button>
</div>

<div class="min-options">
  <button
    [disabled]="showStudents"
    (click)="setShowStudents()"
    class="create-button"
  >
    Ver estudiantes
  </button>
  <button
    [disabled]="!showStudents"
    (click)="setShowTeachers()"
    class="create-button"
  >
    Ver docentes
  </button>
</div>

<main
  *ngIf="showStudents"
  class="panel-control--ministerio"
  id="lateral-menu__container"
>
  <section class="panel-control--ministerio__statics">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Grado</th>
          <th scope="col">Curso</th>
          <th scope="col">Editar</th>
          <th scope="col">Deshabilitar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of students; let i = index">
          <td>{{ user.document }}</td>
          <td>{{ user.userType }}</td>
          <td>{{ user.name }} {{ user.lastName }}</td>
          <td>{{ user.grade }}</td>
          <td class="dark">{{ user.course }}</td>
          <td>
            <a
              (click)="editUser(user, true)"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="assets/images/Botones_menu/editar.png"
                style="width: 40px"
              />
            </a>
          </td>
          <td class="dark enabled">
            <label class="switch">
              <input type="checkbox" [checked]="user.isEnabled" disabled />
              <span
                class="slider round"
                (click)="selectUser(user, user.isEnabled || false)"
              ></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="next-prev" *ngIf="totalPages - 1 >= 1">
      <a *ngIf="page > 0" (click)="lastPage()">
        <li class="atra_btn_mod italic_">
          <span class="icon_anterior"></span>Atrás
        </li>
      </a>
      <a>
        <li class="numbers_np">{{ page }}</li>
      </a>
      <a *ngIf="totalPages - 1 >= page" (click)="nextPage()">
        <li class="adelante_btn_mod italic_">
          Continuar<span class="icon_proximo"></span>
        </li>
      </a>
    </ul>
  </section>
</main>
<main
  *ngIf="!showStudents"
  class="panel-control--ministerio"
  id="lateral-menu__container"
>
  <section class="panel-control--ministerio__statics">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Asignatura</th>
          <th scope="col">Grado</th>
          <th scope="col">Curso</th>
          <th scope="col">Editar</th>
          <th scope="col">Deshabilitar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of teachers; let i = index">
          <td>{{ user.document }}</td>
          <td>{{ user.userType }}</td>
          <td>{{ user.name }} {{ user.lastName }}</td>
          <td>Asignatura</td>
          <td>{{ user.grade }}</td>
          <td class="dark">{{ user.course }}</td>
          <td>
            <a
              (click)="editUser(user, false)"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="assets/images/Botones_menu/editar.png"
                style="width: 40px"
              />
            </a>
          </td>
          <td class="dark enabled">
            <label class="switch">
              <input type="checkbox" [checked]="user.isEnabled" disabled />
              <span
                class="slider round"
                (click)="selectUser(user, user.isEnabled || false)"
              ></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="next-prev" *ngIf="totalPages - 1 > 0">
      <a *ngIf="page > 1" (click)="lastPage()">
        <li class="atra_btn_mod italic_">
          <span class="icon_anterior"></span>Atrás
        </li>
      </a>
      <a>
        <li class="numbers_np">{{ page }}</li>
      </a>
      <a *ngIf="totalPages - 1 >= page" (click)="nextPage()">
        <li class="adelante_btn_mod italic_">
          Continuar<span class="icon_proximo"></span>
        </li>
      </a>
    </ul>
  </section>
</main>

<ng-template #uploadFileModal let-modal>
  <div class="modal-container">
    <div class="modal__head">
      <!--Title-->
      <h2>CARGA TU ARCHIVO</h2>
      <!--Exit button-->
      <button class="close" (click)="modal.dismiss('Cross click')">
        <img src="assets/images/Botones_menu/boto_exit@2x.png" />
      </button>
    </div>

    <div class="modal__text">
      <p>
        Puedes subir un archivo .csv con usuarios para añadirlos masivamente.
      </p>
      <!--???-->
      <div class="exp-container"></div>

      <form [formGroup]="uploadForm" (submit)="uploadFile()">
        <div
          class="files__button"
          style="display: flex; justify-content: space-around"
        >
          <label class="btn_intro">
            Subir archivo
            <input
              (change)="onFileSelect($event)"
              formControlName="file"
              type="file"
              name="uploadfile"
              style="display: none"
              accept=".csv"
            />
          </label>
        </div>

        <p *ngIf="this.uploadForm.value.file.name">
          Archivo a subir:
          {{ this.uploadForm.value.file.name }}
        </p>
        <div
          class="files__button"
          style="display: flex; justify-content: space-around"
        >
          <app-button
            type="submit"
            [isDisabled]="!isValidFile"
            text="Crear Usuarios"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #sureEnabledModal let-modal>
  <div class="modal-container">
    <div class="modal__head">
      <h3 class="modal__head__title">
        Estas seguro de
        {{ userSelected.isEnabled ? "deshabilitar" : "habilitar" }}
        este usuario
      </h3>
      <button class="close" (click)="modal.dismiss('Cross click')">
        <img src="assets/images/Botones_menu/boto_exit@2x.png" />
      </button>
    </div>
    <div class="modal__text">
      <div
        class="files__button"
        style="display: flex; justify-content: space-around; margin-top: 80px"
      >
        <app-button
          (click)="changeEnabled(); modal.dismiss('Cross click')"
          text="Aceptar"
        ></app-button>
        <app-button
          (click)="modal.dismiss('Cross click')"
          text="cancelar"
        ></app-button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #updateProfileModal let-modal>
  <div class="modal-container container-fluid">
    <div class="modal__head">
      <h3 class="modal__head__title"></h3>
      <button class="close" (click)="modal.dismiss('Cross click')">
        <img src="assets/images/Botones_menu/boto_exit@2x.png" />
      </button>
    </div>
    <div class="modal__text">
      <div class="login-page">
        <img class="logo" src="assets/images/logos/Billan_cabezote@2x.png" />
        <h2 class="title">Actualizar usuario</h2>

        {{ showStudents ? "Estudiante" : "Docente" }}
        <form
          *ngIf="showStudents"
          class="login-form create-user-form"
          [formGroup]="editStudentForm"
          novalidate
        >
          <app-select
            label="Tipo de documento"
            class="input"
            formControlName="documentType"
            [options]="documentTypeOptions"
            placeholder="Tipo de documento"
            [value]="userSelected.documentType"
          ></app-select>

          <app-textfield
            label="Nombre"
            class="input"
            formControlName="name"
            type="text"
            placeholder="Nombre"
            [value]="userSelected.name || ''"
          >
          </app-textfield>

          <app-textfield
            label="Apellido"
            class="input"
            formControlName="lastName"
            type="text"
            placeholder="Apellido"
            [value]="userSelected.lastName || ''"
          >
          </app-textfield>

          <app-textfield
            label="Grado"
            class="input"
            formControlName="grade"
            type="text"
            placeholder="Grado"
            [value]="userSelected.grade || ''"
          >
          </app-textfield>

          <app-textfield
            label="Curso"
            class="input"
            formControlName="course"
            type="text"
            placeholder="Curso"
            [value]="userSelected.course || ''"
          >
          </app-textfield>
          <p *ngIf="editStudentForm.invalid">
            <ngb-alert type="danger" [dismissible]="false">
              Completa <strong>todos</strong> los <strong>campos</strong>
            </ngb-alert>
          </p>
          <app-button
            type="submit"
            [isDisabled]="editStudentForm.invalid"
            text="Actualizar usuario"
          ></app-button>
        </form>

        <form
          *ngIf="!showStudents"
          class="login-form create-user-form"
          [formGroup]="editTeacherForm"
          novalidate
        >
          <app-select
            label="Tipo de documento"
            class="input"
            formControlName="documentType"
            [options]="documentTypeOptions"
            placeholder="Tipo de documento"
          ></app-select>

          <app-textfield
            label="Nombre"
            class="input"
            formControlName="name"
            type="text"
            placeholder="Nombre"
          >
          </app-textfield>

          <app-textfield
            label="Apellido"
            class="input"
            formControlName="lastName"
            type="text"
            placeholder="Apellido"
          >
          </app-textfield>

          <app-textfield
            label="email"
            class="input"
            formControlName="email"
            type="email"
            placeholder="Apellido"
          >
          </app-textfield>

          <table class="table">
            <tbody>
              <tr
                formArrayName="classRooms"
                *ngFor="let classRoom of this.classRooms.controls; index as i"
              >
                <div [formGroupName]="i">
                  <td>
                    <app-select
                      label="Asignatura"
                      class="input"
                      formControlName="tribe"
                      [options]="tribesOptions"
                      placeholder="Asignatura"
                    >
                    </app-select>
                  </td>
                  <td>
                    <app-select
                      label="Curso"
                      class="input"
                      formControlName="course"
                      [options]="this.courses"
                      placeholder="Curso"
                    >
                    </app-select>
                  </td>
                  <td>
                    <app-select
                      label="Grade"
                      class="input"
                      formControlName="grade"
                      [options]="gradeOptions"
                      placeholder="Curso"
                    >
                    </app-select>
                  </td>
                </div>
              </tr>
            </tbody>
          </table>

          <p *ngIf="editTeacherForm.invalid">
            <ngb-alert type="danger" [dismissible]="false">
              Completa <strong>todos</strong> los <strong>campos</strong>
            </ngb-alert>
          </p>
          <app-button
            type="submit"
            [isDisabled]="editTeacherForm.invalid"
            text="Actualizar usuario"
            (click)="update()"
          ></app-button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
