.welcome {
  float: left;
  width: 100%;
  background-color: #fff3e8;
  background-image: url("../../assets/images/fondos/texturaBG.png");
  background-repeat: repeat;
}

.module-container {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.conteedor_main_menu {
  margin: 0 auto;
  max-width: none;
}

.module-card {
  &.matematicas {
    background-image: url("../../assets/images/fondos/Modulos/matematicas_2BG.png");

    .module-card__grade {
      background-color: #bb4739;
    }
  }

  &.lenguaje {
    background-image: url("../../assets/images/fondos/Modulos/lenguaje_1BG.png");

    .module-card__grade {
      background-color: #50806b;
    }
  }

  &.ciencias-naturales {
    background-image: url("../../assets/images/fondos/Modulos/ciencias_1BG.png");

    .module-card__grade {
      background-color: #37688e;
    }
  }

  &.competencias-ciudadanas {
    background-image: url("../../assets/images/fondos/Modulos/C.ciudadanasBG.png");

    .module-card__grade {
      background-color: #67a9b0;
    }
  }

  &.competencias-socioemocionales {
    background-image: url("../../assets/images/fondos/Modulos/C.sociemocionalesBG.png");

    .module-card__grade {
      background-color: #a4742a;
    }
  }
}

.module-card__header__img {
  img {
    width: 140px;
  }
}
