.game_time {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}
.time_text {
  font-weight: 500;
  background-color: #fff9dc;
  color: #5e4228;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
