.fire_brgd {
  min-height: 86vh;
}

.welcome {
  float: left;
  width: 100%;
  background-color: #fff3e8;
  background-image: url("../../assets/images/fondos/texturaBG.png");
  background-repeat: repeat;
}
