.app-radio-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;

  .label {
    color: #fff;
    font-size: 16pt;
    margin-bottom: 10px;
  }

  .input {
    padding: 5px 15px;
    flex-grow: 1;
    margin-bottom: 10px;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }

  .option {
    color: #fff;
    flex-grow: 1;
  }
}

.brave-level {
  max-width: 800px;
  margin: 0 auto;

  .label {
    color: #5e4228;
    font-weight: bold;
  }

  .option {
    color: #5e4228;
    font-weight: bold;
  }
}

.centered-title {
  .label {
    text-align: center;
  }
}
